body{
  background-color: silver;
}

h1{
  text-align: center;
}

#loading{
  width:auto;
  height:auto;
  box-sizing: border-box;
  display: block;
}

#firstDot, #secondDot, #thirdDot{
  display:none;
}

.pageCentered{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#main{
  display:none;
  
}

#title{
  text-align: center;
}


#answer{
  display: none;
}